<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>自动重启Linux上指定的服务器</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <io.jenkins.plugins.DingTalkJobProperty plugin="dingding-notifications@2.6.2">
      <notifierConfigs>
        <io.jenkins.plugins.DingTalkNotifierConfig>
          <checked>true</checked>
          <robotId>111</robotId>
          <robotName>Jenkins</robotName>
          <atAll>false</atAll>
          <atMobile></atMobile>
          <content></content>
          <noticeOccasions>
            <string>SUCCESS</string>
            <string>FAILURE</string>
            <string>UNSTABLE</string>
          </noticeOccasions>
        </io.jenkins.plugins.DingTalkNotifierConfig>
      </notifierConfigs>
    </io.jenkins.plugins.DingTalkJobProperty>
    <jenkins.advancedqueue.jobinclusion.strategy.JobInclusionJobProperty plugin="PrioritySorter@4.1.0">
      <useJobGroup>true</useJobGroup>
      <jobGroupName>无优先级</jobGroupName>
    </jenkins.advancedqueue.jobinclusion.strategy.JobInclusionJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>7</artifactDaysToKeep>
        <artifactNumToKeep>10</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@359.v35dcfdd0c20d">
          <name>server_name</name>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>29</visibleItemCount>
          <type>PT_CHECKBOX</type>
          <propertyFile>/var/jenkins_home/server.list</propertyFile>
          <propertyKey>SL</propertyKey>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <descriptionPropertyFile>/var/jenkins_home/server.list</descriptionPropertyFile>
          <descriptionPropertyKey>SLDesc</descriptionPropertyKey>
          <projectName>工具 - 更新Game服务器配表数据</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <org.jvnet.hudson.plugins.SSHBuildWrapper plugin="ssh@2.6.1">
      <siteName>root@10.0.84.16:22</siteName>
      <preScript>echo $server_name

#!/bin/bash -e

export PATH=/opt/protokitgo:$PATH

if [ -z &quot;$server_name&quot; ]; then
    echo &quot;Error: 没有选择服务器!&quot;
    exit 1
fi

run() {
    python -c &apos;&apos;&apos;import os
l = &apos;\&quot;$1\&quot;&apos;.split(&quot;,&quot;)
for n in l:
    cmd = &quot;./auto_upload_config.sh &quot; + n + &quot; deploy-cc-conf&quot;
    print(cmd)
    os.system(cmd)
&apos;&apos;&apos;
}

cd /home/user00/cc/cc-slots-land/cc-dev
run ${server_name}

~/jenkins/etcdfilter -svr $server_name

</preScript>
      <postScript></postScript>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuildWrapper>
  </buildWrappers>
</project>