<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>根据提供的活动id, 账号或者uid&#xd;
查询玩家当前的活动数据</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <io.jenkins.plugins.DingTalkJobProperty plugin="dingding-notifications@2.4.11">
      <notifierConfigs>
        <io.jenkins.plugins.DingTalkNotifierConfig>
          <checked>false</checked>
          <robotId>111</robotId>
          <robotName>Jenkins</robotName>
          <atAll>false</atAll>
          <atMobile></atMobile>
          <content></content>
          <noticeOccasions>
            <string>SUCCESS</string>
            <string>START</string>
            <string>ABORTED</string>
            <string>FAILURE</string>
            <string>UNSTABLE</string>
          </noticeOccasions>
        </io.jenkins.plugins.DingTalkNotifierConfig>
      </notifierConfigs>
    </io.jenkins.plugins.DingTalkJobProperty>
    <jenkins.advancedqueue.jobinclusion.strategy.JobInclusionJobProperty plugin="PrioritySorter@4.1.0">
      <useJobGroup>false</useJobGroup>
      <jobGroupName>服务器</jobGroupName>
    </jenkins.advancedqueue.jobinclusion.strategy.JobInclusionJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>7</artifactDaysToKeep>
        <artifactNumToKeep>10</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@359.v35dcfdd0c20d">
          <name>server_name</name>
          <description>pktest : 内服 pkcp : Linux测试 pkyq : QA测试 pkreview : 验收服</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>29</visibleItemCount>
          <type>PT_RADIO</type>
          <propertyFile>/var/jenkins_home/server.list</propertyFile>
          <propertyKey>SL</propertyKey>
          <multiSelectDelimiter>;</multiSelectDelimiter>
          <descriptionPropertyFile>/var/jenkins_home/server.list</descriptionPropertyFile>
          <descriptionPropertyKey>SLDesc</descriptionPropertyKey>
          <projectName>数据 - 活动查询</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>account</name>
          <description>待查询账号</description>
          <defaultValue>query me</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>act_id</name>
          <description>待查询的活动id, 必填
可参照
&lt;li&gt;
&lt;a href=&quot;https://docs.google.com/spreadsheets/d/1n3o5PTza30v40e2gHq37Oa_5rKYuueap6t7M4ENVaFo/edit#gid=0&quot;&gt;Activity&lt;/a&gt;
&lt;/li&gt;</description>
          <defaultValue>-1</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>uid</name>
          <description>也可以提供账号的user_id 例如: 100000000009440</description>
          <defaultValue>100000000009440</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <org.jvnet.hudson.plugins.SSHBuildWrapper plugin="ssh@2.6.1">
      <siteName>root@10.0.84.16:22</siteName>
      <preScript>echo $server_name
#!/bin/bash -e

export PATH=/usr/bin/curl:$PATH
function mg_port() {
    docker ps -a | grep ${1}-mongo | awk -F &apos;-&gt;&apos; &apos;{print $1}&apos; | awk -F &apos;:&apos; &apos;{print $3}&apos;
}

port=$(mg_port ${server_name})
echo $port

cd ~/jenkins/script/python/ &amp;&amp; python mongo_activity_ex.py ${port} ${account} ${act_id} ${uid}</preScript>
      <postScript></postScript>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuildWrapper>
  </buildWrappers>
</project>