<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description>修改服务器分支配置&#xd;
game/bandit&#xd;
对其他脚本支持</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.advancedqueue.jobinclusion.strategy.JobInclusionJobProperty plugin="PrioritySorter@4.1.0">
      <useJobGroup>true</useJobGroup>
      <jobGroupName>分支</jobGroupName>
    </jenkins.advancedqueue.jobinclusion.strategy.JobInclusionJobProperty>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>7</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>7</artifactDaysToKeep>
        <artifactNumToKeep>10</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition plugin="extended-choice-parameter@359.v35dcfdd0c20d">
          <name>server_name</name>
          <description>指定服务器</description>
          <quoteValue>false</quoteValue>
          <saveJSONParameterToFile>false</saveJSONParameterToFile>
          <visibleItemCount>29</visibleItemCount>
          <type>PT_RADIO</type>
          <propertyFile>/var/jenkins_home/server.list</propertyFile>
          <propertyKey>SL</propertyKey>
          <multiSelectDelimiter>,</multiSelectDelimiter>
          <descriptionPropertyFile>/var/jenkins_home/server.list</descriptionPropertyFile>
          <descriptionPropertyKey>SLDesc</descriptionPropertyKey>
          <projectName>分支 - 更改服务器分支配置</projectName>
        </com.cwctravel.hudson.plugins.extended__choice__parameter.ExtendedChoiceParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.3">
          <name>GAME_BR</name>
          <description>game服务器分支名 (内部开发默认 [ develop ])</description>
          <defaultValue>develop</defaultValue>
          <successfulOnly>true</successfulOnly>
          <trim>true</trim>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.3">
          <name>BANDIT_BR</name>
          <description>bandit服务器分支名 (内部开发默认 [ develop ])</description>
          <defaultValue>develop</defaultValue>
          <successfulOnly>true</successfulOnly>
          <trim>true</trim>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.3">
          <name>GAME_CONF</name>
          <description>游戏服务器 配表分支
(内部开发默认
[  deploy-cc-conf  ])</description>
          <defaultValue>deploy-cc-conf</defaultValue>
          <successfulOnly>true</successfulOnly>
          <trim>true</trim>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
        <com.gem.persistentparameter.PersistentStringParameterDefinition plugin="persistent-parameter@1.3">
          <name>BANDIT_CONF</name>
          <description>RPC服务器 配表分支
(内部开发默认
[  deploy-bandit-conf  ])</description>
          <defaultValue>deploy-bandit-conf</defaultValue>
          <successfulOnly>true</successfulOnly>
          <trim>true</trim>
        </com.gem.persistentparameter.PersistentStringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders/>
  <publishers/>
  <buildWrappers>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@1.0.2">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <org.jvnet.hudson.plugins.SSHBuildWrapper plugin="ssh@2.6.1">
      <siteName>root@10.0.84.16:22</siteName>
      <preScript>#!/bin/bash

source /root/jenkins/jk_func.sh

if [ -z &quot;$server_name&quot; ]; then
    echo &quot;Error: 没有选择服务器!&quot;
    exit 1
fi

file_lock
LINE_NO=$(grep -n &quot;${server_name}:&quot; $conf_file | awk -F &quot;:&quot; &apos;{print $1}&apos;)
echo $LINE_NO
mod_branch $LINE_NO $GAME_BR $BANDIT_BR $GAME_CONF $BANDIT_CONF
file_unlock</preScript>
      <postScript>conf_file=~/jenkins/server_config.yaml
cat $conf_file | grep $server_name -C 6

cd /mnt/slots/bandit-server &amp;&amp; git remote update
cd /mnt/slots/cc-server &amp;&amp; git remote update
cd /var/lib/docker/volumes/jenkins-data/_data &amp;&amp; python update_server_list.py

curl &apos;https://oapi.dingtalk.com/robot/send?access_token=13aa551ba8a79265c4424316089cd31c4f479b0f685f3d5a503b0ab6a1a42ec7&apos; -H &apos;Content-Type: application/json&apos;  -d &apos;{&quot;msgtype&quot;: &quot;text&quot;,&quot;text&quot;: {&quot;content&quot;: &quot;Jenkins-Server[&apos;&quot;${server_name}&quot;&apos;] Change To Game[&apos;&quot;${GAME_BR}&quot;&apos;] RPC[&apos;&quot;${BANDIT_BR}&quot;&apos;] GAME_CONF[&apos;&quot;${GAME_CONF}&quot;&apos;] BANDIT_CONF[&apos;&quot;${BANDIT_CONF}&quot;&apos;] &quot;}}&apos;

source /root/jenkins/jk_func.sh
~/jenkins/analyze_log/analyze_err -url ${BUILD_URL}</postScript>
      <hideCommand>false</hideCommand>
    </org.jvnet.hudson.plugins.SSHBuildWrapper>
  </buildWrappers>
</project>